img
{
    padding-left: 60px;
    padding-top: 20px;
    
}
   
.secondblock
{
    float: right;
    margin-top: 32px;
    padding-left: 9cm;
    padding-right: 2cm;
    
}
button
{
   
   border: 0px;
   cursor: pointer;
   background-color: white;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   color: #f14d54;
   font-size: 14px;
   border-radius: 0.5px;
    
}
.fas{
    color: #f14d54;
}
.thirdblock
 {  
    background-color: rgb(233, 233, 233);
    margin-top: 23px;
    padding-top: 20px;
    padding-left: 321px;
    padding-right: 80px;
    padding-bottom: 20px;

 }
.thirdblock-in
{
  padding-left: 422px;
  height: 40px;
  width: 422px;
  border-radius: 2px;
  border-width: 0.5px;
  border: solid;
  border-width: thin;
  padding-left: 10px;
  border-color: rgb(199, 199, 199);
}
.thirdblock-btn
{
    background-color: #80bf32;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    color: white;
    width: 129px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.thirdblock-btn-2
{
    background-color: #f14d54;
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    font-size: 16px;
    color: white;
    width: 129px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.heading
{
    padding-left: 550px;
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    color: #414141;
}
.sort
{
    margin-left: 789px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.tag
{
    height: 345.67px;
    width: 227.70px;
    border-radius: 4px;
    margin-left: 70px ;
    margin-top: -27px;
    border: solid;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top: none;
    border-color: rgb(199, 199, 199);
}
.pixel
{
    width: 227.67px;
    height: 188.5px;
    border: solid;
    padding-left: 0px;
    padding-top: 0px;
    margin-left: 70px ;
    border-radius: 4px;
    
    
}
.price_tag
{
    padding-top: 45px;
    
    
}
.maindiv
{
    display: flex;
}
.footer
{
   background-color: #e7e6e6;
   height: 120px;
   margin-top: 80px;
   text-align: center ;
   background-image: #e7e6e6;
   padding-top: 70px;
}
.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;

}
